@import '~antd/es/style/themes/default.less';

@dateWith: 24px;
.calendar {
  box-shadow: 0 0 5px -2px #aaa;
  margin-bottom: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  user-select: none;

}


.calendarHeader {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;

  .calendarHeaderDate {
    font-size: 18px;
    color: #666666;
    user-select: none;
    padding: 5px;
    flex-grow: 2;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;

    &:hover {
      color: #000000;
    }
  }

  .HeaderIcon {
    font-size: 20px;
    padding: 8px;
    line-height: 100%;
    color: #dddddd;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;

    &:hover {
      color: #666666;
    }
  }


}

.onHover() {
  .date {
    box-sizing: border-box;
    border: 2px solid @primary-7;
    background-color: @primary-7;
    color: #ffffff;
    line-height: @dateWith - 4px;
  }
}
.dateCell {
  transition: all ease-in-out 0.3s 0s;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  @media (any-hover: hover) {
    &:hover {
      .onHover();
    }

  }


  &.active {
    .onHover();
  }


  &.success {

    &.s-1 {
      .date {
        color: #fff;
        background-color: @green-2;

      }
    }

    &.s-2 {
      .date {
        color: #fff;
        background-color: @green-4;

      }
    }

    &.s-3 {
      .date {
        color: #fff;
        background-color: @green-6;

      }
    }

    &.s-4 {
      .date {
        color: #fff;
        background-color: @green-8;

      }
    }

    &.s-5 {
      .date {
        color: #fff;
        background-color: @green-10;
      }
    }
  }

  &.fail {
    &.f-1 {
      .date {
        color: #fff;
        background-color: @red-2;

      }
    }

    &.f-2 {
      .date {
        color: #fff;
        background-color: @red-4;

      }
    }

    &.f-3 {
      .date {
        color: #fff;
        background-color: @red-6;

      }
    }

    &.f-4 {
      .date {
        color: #fff;
        background-color: @red-8;

      }
    }

    &.f-5 {
      .date {
        color: #fff;
        background-color: @red-10;
      }
    }
  }


  .date {
    width: @dateWith;
    height: @dateWith;
    line-height: @dateWith;
    transition: all ease-in-out 0.2s 0s;
    border-radius: 3px;
  }

  .goals {
    position: absolute;
    margin-right: -20px;
    font-size: 8px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    background-color: #993333;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;

  }
}
