@import '~antd/es/style/themes/default.less';

.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  .GoalItemBox {
    flex-grow: 1;
    overflow: auto;
    padding: 5px 10px 10px 10px;
  }

  .GoalItem {
    padding: 5px 10px;
    //border: 1px solid #aaaaaa;
    margin-bottom: 10px;
    outline: none;
    box-shadow: 0 0 8px -3px #aaaaaa;
    border-radius: 3px;
    transition: height 0.3s;

    .GoalItemTitle {
      font-size: 20px;
    }

    .GoalItemContent {
      font-size: 16px;
    }

    .GoalItemInfo {
      border-top: 1px solid #eeeeee;
      margin-top: 5px;
      padding: 5px 0;

      .GoalItemInfoRepetition {
        color: @primary-3;
      }
    }

    .GoalItemOperation {
      height: 0;
      overflow: hidden;
      transition: height 0.3s;
      display: flex;
      align-items: center;
      font-size: 24px;
      color: #bbbbbb;

      & > * {
        flex-grow: 1;
      }

      :not(:first-child) {
        border-left: 1px solid #dddddd;
      }
    }

    &:focus {

      .GoalItemOperation {
        //border-top: 1px solid #eeeeee;
        height: 40px;
      }
    }

  }

  .addItemBox {
    padding: 5px;
    width: 100%;


    .addItemBtn {
      width: 100%;
      padding: 5px;
      color: #aaa;
      height: auto;
      font-size: larger;
      flex-grow: 0;
      flex-shrink: 0;
    }

  }

  .calendar {
    box-shadow: 0 0 5px -2px #aaa;
    margin-bottom: 10px;
    flex-grow: 0;
    flex-shrink: 0;

  }
}
